---
import { imageData } from '@components/templates/top/data/topsection';
import ResponsiveImage from '@components/ui/ResponsiveImage.astro';
---

<section>
	<div class="image">
		{
			imageData.map(image => (
				<div>
					<ResponsiveImage
						src={image.src}
						alt={image.alt}
						loading={image.loading}
						decoding={image.decoding}
					/>
				</div>
			))
		}
	</div>
</section>

<style lang="scss">
	@import '@styles/main.scss';
	.image {
		display: flex;
		div {
			max-width: 800px;
			margin: 0 auto;
		}
	}
</style>
