---
import TopImage1 from '@assets/images/top/home_main_1_1@2x.jpg';
import ResponsiveImage from '@components/ui/ResponsiveImage.astro';
---

<section>
	<div class="image">
		<ResponsiveImage
			src={TopImage1}
			alt="TopImage1"
			sizes="100vw,1000px"
			widths={[400]}
		/>
	</div>
</section>

<style lang="scss">
	@import '@styles/main.scss';
	.image {
		max-width: 1000px;
		margin: 0 auto;
	}
</style>
