---
import TestImage from '@assets/images/top/merchandise/webp/home_main_1_1.webp';
import { Image } from 'astro:assets';
---

<div class="test">
	test
	<Image
		src={TestImage}
		alt="test"
		height={TestImage.height}
		width={TestImage.width}
		loading="eager"
		decoding="sync"
	/>
</div>

<style lang="scss">
	.test {
		max-width: 400px;
	}
</style>
