---
import Top from './secitons/hero/Hero.astro';
// import ProductsSection from './secitons/product/ProductsSection.astro';
---

<div class="test">
	<Top />
	<!-- <ProductsSection /> -->
</div>

<style lang="scss">
	@import '@styles/main.scss';
	.test {
		@include mq('md') {
			padding: 0;
			&__item {
				width: calc(100% - 180px);
				margin: 50px auto;
			}
		}
	}
</style>
