@font-face {
	font-display: swap;
	font-family: 'Hina Mincho';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/hina-mincho-v12-latin-regular.woff2') format('woff2');
}

// @font-face {
// 	font-display: swap;
// 	font-family: 'Shippori Mincho';
// 	font-style: normal;
// 	font-weight: 400;
// 	src: url('/fonts/woff2-kanzi/kanzi-1.woff2') format('woff2');
// }

// @font-face {
// 	font-display: swap;
// 	font-family: 'Shippori Mincho';
// 	font-style: normal;
// 	font-weight: 400;
// 	src: url('/fonts/woff2-kanzi/kanzi-2.woff2') format('woff2');
// }

// @font-face {
// 	font-display: swap;
// 	font-family: 'Shippori Mincho';
// 	font-style: normal;
// 	font-weight: 400;
// 	src: url('/fonts/woff2-kanzi/kanzi-3.woff2') format('woff2');
// }

// @font-face {
// 	font-display: swap;
// 	font-family: 'Shippori Mincho';
// 	font-style: normal;
// 	font-weight: 400;
// 	src: url('/fonts/woff2-kanzi/kanzi-4.woff2') format('woff2');
// }

// @font-face {
// 	font-display: swap;
// 	font-family: 'Shippori Mincho';
// 	font-style: normal;
// 	font-weight: 400;
// 	src: url('/fonts/woff2-kanzi/kanzi-5.woff2') format('woff2');
// }

// @font-face {
// 	font-display: swap;
// 	font-family: 'Shippori Mincho';
// 	font-style: normal;
// 	font-weight: 400;
// 	src: url('/fonts/woff2-kanzi/kanzi-6.woff2') format('woff2');
// }

// @font-face {
// 	font-display: swap;
// 	font-family: 'Shippori Mincho';
// 	font-style: normal;
// 	font-weight: 400;
// 	src: url('/fonts/woff2-kanzi/kanzi-7.woff2') format('woff2');
// }

// @font-face {
// 	font-display: swap;
// 	font-family: 'Shippori Mincho';
// 	font-style: normal;
// 	font-weight: 400;
// 	src: url('/fonts/woff2-kanzi/kanzi-8.woff2') format('woff2');
// }

// @font-face {
// 	font-display: swap;
// 	font-family: 'Shippori Mincho';
// 	font-style: normal;
// 	font-weight: 400;
// 	src: url('/fonts/woff2-kanzi/kanzi-9.woff2') format('woff2');
// }

// @font-face {
// 	font-display: swap;
// 	font-family: 'Shippori Mincho';
// 	font-style: normal;
// 	font-weight: 400;
// 	src: url('/fonts/woff2-kanzi/kanzi-10.woff2') format('woff2');
// }

// @font-face {
// 	font-display: swap;
// 	font-family: 'Shippori Mincho';
// 	font-style: normal;
// 	font-weight: 400;
// 	src: url('/fonts/shippori-other.woff2') format('woff2');
// }

// @font-face {
// 	font-display: swap;
// 	font-family: 'Shippori Mincho';
// 	font-style: normal;
// 	font-weight: 800;
// 	src: url('/fonts/woff2-kanzi-bold/bold-kanzi1.woff2') format('woff2');
// }
// //
// @font-face {
// 	font-display: swap;
// 	font-family: 'Shippori Mincho';
// 	font-style: normal;
// 	font-weight: 800;
// 	src: url('/fonts/woff2-kanzi-bold/bold-kanzi2.woff2') format('woff2');
// }

// @font-face {
// 	font-display: swap;
// 	font-family: 'Shippori Mincho';
// 	font-style: normal;
// 	font-weight: 800;
// 	src: url('/fonts/woff2-kanzi-bold/bold-kanzi3.woff2') format('woff2');
// }

// @font-face {
// 	font-display: swap;
// 	font-family: 'Shippori Mincho';
// 	font-style: normal;
// 	font-weight: 800;
// 	src: url('/fonts/woff2-kanzi-bold/bold-kanzi4.woff2') format('woff2');
// }

// @font-face {
// 	font-display: swap;
// 	font-family: 'Shippori Mincho';
// 	font-style: normal;
// 	font-weight: 800;
// 	src: url('/fonts/woff2-kanzi-bold/bold-kanzi5.woff2') format('woff2');
// }

// @font-face {
// 	font-display: swap;
// 	font-family: 'Shippori Mincho';
// 	font-style: normal;
// 	font-weight: 800;
// 	src: url('/fonts/woff2-kanzi-bold/bold-kanzi6.woff2') format('woff2');
// }

// @font-face {
// 	font-display: swap;
// 	font-family: 'Shippori Mincho';
// 	font-style: normal;
// 	font-weight: 800;
// 	src: url('/fonts/woff2-kanzi-bold/bold-kanzi7.woff2') format('woff2');
// }

// @font-face {
// 	font-display: swap;
// 	font-family: 'Shippori Mincho';
// 	font-style: normal;
// 	font-weight: 800;
// 	src: url('/fonts/woff2-kanzi-bold/bold-kanzi8.woff2') format('woff2');
// }

// @font-face {
// 	font-display: swap;
// 	font-family: 'Shippori Mincho';
// 	font-style: normal;
// 	font-weight: 800;
// 	src: url('/fonts/woff2-kanzi-bold/bold-kanzi9.woff2') format('woff2');
// }

// @font-face {
// 	font-display: swap;
// 	font-family: 'Shippori Mincho';
// 	font-style: normal;
// 	font-weight: 800;
// 	src: url('/fonts/woff2-kanzi-bold/bold-kanzi10.woff2') format('woff2');
// }

@font-face {
	font-display: swap;
	font-family: 'Shippori Mincho';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/omoi/kanzi-set-omi.woff2') format('woff2');
}
