/* hina-mincho-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Hina Mincho';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/hina-mincho-v12-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* shippori-mincho-b1-regular - japanese */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Shippori Mincho';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/shippori-test.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
// https://gwfh.mranftl.com/fonts
