@font-face {
	font-display: swap;
	font-family: 'Hina Mincho';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/hina-mincho-v12-latin-regular.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Shippori Mincho';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/shippori-other.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Shippori Mincho';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/shippori-kanzi1.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Shippori Mincho';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/shippori-kanzi2.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Shippori Mincho';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/shippori-kanzi3.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Shippori Mincho';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/shippori-kanzi4.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Shippori Mincho';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/shippori-kanzi5.woff2') format('woff2');
}
// @font-face {
// 	font-display: swap;
// 	font-family: 'Shippori Mincho';
// 	font-style: normal;
// 	font-weight: 400;
// 	src: url('/fonts/kanzi-3.woff2') format('woff2');
// }

// @font-face {
// 	font-display: swap;
// 	font-family: 'Shippori Mincho';
// 	font-style: normal;
// 	font-weight: 400;
// 	src: url('/fonts/kanzi-4.woff2') format('woff2');
// }

// @font-face {
// 	font-display: swap;
// 	font-family: 'Shippori Mincho';
// 	font-style: normal;
// 	font-weight: 400;
// 	src: url('/fonts/kanzi-5.woff2') format('woff2');
// }

// @font-face {
// 	font-display: swap;
// 	font-family: 'Shippori Mincho';
// 	font-style: normal;
// 	font-weight: 400;
// 	src: url('/fonts/kanzi-6.woff2') format('woff2');
// }

// @font-face {
// 	font-display: swap;
// 	font-family: 'Shippori Mincho';
// 	font-style: normal;
// 	font-weight: 400;
// 	src: url('/fonts/kanzi-7.woff2') format('woff2');
// }

// @font-face {
// 	font-display: swap;
// 	font-family: 'Shippori Mincho';
// 	font-style: normal;
// 	font-weight: 400;
// 	src: url('/fonts/kanzi-8.woff2') format('woff2');
// }

// @font-face {
// 	font-display: swap;
// 	font-family: 'Shippori Mincho';
// 	font-style: normal;
// 	font-weight: 400;
// 	src: url('/fonts/kanzi-9.woff2') format('woff2');
// }

// @font-face {
// 	font-display: swap;
// 	font-family: 'Shippori Mincho';
// 	font-style: normal;
// 	font-weight: 400;
// 	src: url('/fonts/kanzi-10.woff2') format('woff2');
// }
