@import './config';

body {
	font-family: 'Shippori Mincho', sans-serif;
}

body::selection {
	background-color: var(--mediumBrown);
	color: var(--white);
}

section::selection {
	background-color: var(--mediumBrown);
	color: var(--white);
}
