@import './config';

// html {
// 	font-family: sans-serif;
// }

// html.loaded {
// 	font-family: 'Shippori Mincho', sans-serif;
// }

body {
	font-family: 'Shippori Mincho', sans-serif;
}

body::selection {
	background-color: var(--mediumBrown);
	color: var(--white);
}

section {
	content-visibility: auto;
	height: auto;
}
