---
import '@styles/main.scss';

import Footer from './Footer/Footer.astro';
import Header from './Header/Header.astro';
import NavMenus from './Nav/NavMenus.astro';

type Props = {
	title: string;
};

const { title } = Astro.props as Props;
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<title>{title}</title>
	</head>
	<body>
		<div class="container">
			<Header />
			<NavMenus />
			<main role="main">
				<slot />
			</main>
			<Footer />
		</div>
	</body>

	<style lang="scss">
		@import '@styles/main.scss';
		body {
			background-color: var(--background-primary-color);
		}
		.container {
			overflow: hidden;
			display: grid;
			grid-template-rows: auto 1fr auto;
			grid-template-columns: 100%;
			min-height: 100vh;
		}
	</style>
</html>
