---
import { Picture } from 'astro:assets';

type Props = {
	objectFit?: 'contain' | 'cover' | 'fill' | 'none' | 'scale-down';
	loading?: 'eager' | 'lazy';
};

const { objectFit = 'cover', loading = 'lazy' } = Astro.props;
//
---

<div class={`picture`}>
	<Picture
		src={'/images/top/merchandise/jpg/home_main_1_1@2x.jpg'}
		formats={['jpg', 'webp']}
		loading={loading}
		height={300}
		width={300}
		class={objectFit}
		alt="My super image in multiple formats!"
	/>
</div>

<style lang="scss">
	@import '@styles/main.scss';
	.picture {
		img {
			height: 300px;
			width: 300px;
		}
		.cover {
			object-fit: cover;
		}
		.contain {
			object-fit: contain;
		}
		.fill {
			object-fit: fill;
		}
		.none {
			object-fit: none;
		}
		.scale-down {
			object-fit: scale-down;
		}
	}
</style>
